html {
	overflow-x: hidden;
}
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

.link {
	display: inline-block;
	position: relative;
	color: black;
	text-decoration: none;
	width: fit-content;
}

.link::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: black;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.link:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.strong {
	font-weight: 600;
}

.buttonContained {
	background-color: black;
	color: white;
	padding: 8px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 4px;
	font-weight: 600;
	transition: 0.3s ease-in-out;
	&:hover {
		background-color: rgb(58, 58, 58);
	}
}

.buttonOutlined {
	background-color: transparent;
	color: black;
	padding: 8px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 4px;
	font-weight: 600;
	border: 1px solid black;
	transition: 0.3s ease-in-out;
	&:hover {
		color: gray;
	}
}

.Mui-focused {
	color: black !important;
	border-color: gray !important;
	.MuiOutlinedInput-notchedOutline {
		border-width: 2px;
		border-color: black !important;
	}
}
.MuiOutlinedInput-notchedOutline {
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.3) !important;
}

.rnr-container {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;

	img {
		border-radius: 2px;
		max-height: 500px;
		width: 100%;
		object-fit: cover;
	}

	h1 {
		font-weight: 300 !important;
		font-size: 2.75rem !important;
		line-height: 1.2 !important;
		letter-spacing: -0.00833em !important;
		text-align: center;
		color: black !important;
		&:first-of-type {
			margin-top: 12px !important;
		}
	}

	h2 {
		font-weight: 300 !important;
		font-size: 2rem !important;
		line-height: 1.2 !important;
		letter-spacing: -0.00833em !important;
		color: black !important;
	}

	h3 {
		font-weight: 400 !important;
		font-size: 1.5rem !important;
		line-height: 1.167 !important;
		letter-spacing: 0em !important;
		font-weight: 200 !important;
		color: black !important;
		margin-bottom: 12px;
	}

	p {
		line-height: 1.5;
		font-weight: 300;
	}

	a {
		color: rgb(0, 55, 132) !important;
	}

	pre {
		&::after {
			box-shadow: none !important;
		}
		&::before {
			box-shadow: none !important;
		}
	}

	ul,
	ol {
		padding-left: 25px !important;
		li {
			line-height: 1.75;
		}
	}

	// numbered list
	ol {
		li {
			// margin-left: 20px;
			&::marker {
				// color: rgb(0, 81, 255);
				font-weight: 600;
				// font-family: "Courier New", Courier, monospace;
			}
		}
	}

	ul {
		li {
			// margin-left: 5px;
			&::marker {
				margin-left: 20px;
				font-size: 20px;
				font-weight: 600;
				// color: rgb(0, 81, 255);
				// font-family: "Courier New", Courier, monospace;
			}
		}
	}

	// type checkbox
	ul:has(li > input[type="checkbox"]) {
		padding-left: 0 !important;
		display: flex;
		flex-direction: column;
		gap: 12px;

		li {
			font-family: system-ui, sans-serif;
			line-height: 1.1;
			display: grid;
			grid-template-columns: 1em auto;
			gap: 0.5em;

			input[type="checkbox"]:checked::before {
				transform: scale(1);
			}

			input[type="checkbox"]::before {
				content: "";
				width: 0.65em;
				height: 0.65em;
				clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
				transform: scale(0);
				transform-origin: bottom left;
				transition: 120ms transform ease-in-out;
				box-shadow: inset 1em 1em var(--form-control-color);
				/* Windows High Contrast Mode */
				background-color: CanvasText;
			}

			input[type="checkbox"] {
				/* Add if not using autoprefixer */
				-webkit-appearance: none;
				/* Remove most all native input styles */
				appearance: none;
				/* For iOS < 15 */
				background-color: var(--form-background);
				/* Not removed via appearance */
				margin: 0;

				font: inherit;
				color: currentColor;
				width: 1.15em;
				height: 1.15em;
				border: 0.15em solid currentColor;
				border-radius: 0.15em;
				transform: translateY(-0.075em);

				display: grid;
				place-content: center;
			}
		}
	}

	// quote
	blockquote {
		border-left: 10px solid rgba(0, 0, 0, 0.1);
		padding: 20px 1rem;
		padding-bottom: 10px;
		margin: 0;
		font-style: italic;
	}

	// call out
	div:has(span) {
		background-color: rgba(0, 0, 0, 0.1);
		padding: 20px 1rem;
		border-radius: 2px;

		&::first-letter {
			margin-right: 10px;
			font-size: 30px;
		}

		span {
			// font-weight: 300;
			// font-size: 1.05rem;
			transform: translateY(-10px);
			width: 90%;
			display: inline-flex;
		}
	}
}
