.postSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.link {
	margin-top: 30px;
	width: fit-content;
	text-transform: unset;
}

.linkContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.postTextContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.grid {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-between;
	@media screen and (max-width: 1080px) {
		justify-content: center;
	}
}
